CLIENT_ID=<SERVICE PRINCIPAL CLIENT ID>
TENANT_ID=<AZURE AD TENANT ID>
COSMOS_URL=https://<COSMOS NAME>.documents.azure.com
COSMOS_KEY=<COSMOS ACCESS KEY>
KEYVAULT_URL=https://<KEYVAULT NAME>.vault.azure.net
