fastapi[all]
fastapi-restful[all]
msal
pyjwt
cryptography
requests
netaddr
shortuuid
aiohttp
jsonpatch
azure-common
azure-identity
azure-core
azure-mgmt-core
azure-mgmt-compute
azure-mgmt-network
azure-mgmt-resource
azure-mgmt-resourcegraph
azure-mgmt-managementgroups
azure-keyvault-secrets
azure-cosmos==4.3.0
azure-functions
nest_asyncio
