fastapi[all]
pydantic[email]
pyjwt
cryptography
netaddr
shortuuid
aiohttp
jsonpatch
loguru
regex
azure-core
azure-identity
azure-cosmos
azure-functions
azure-mgmt-core
azure-mgmt-compute
azure-mgmt-network
azure-mgmt-resource
azure-mgmt-resource-subscriptions
azure-mgmt-resourcegraph
azure-mgmt-managementgroups
azure-mgmt-datafactory
azure-mgmt-web
apscheduler
