fastapi[all]>=0.103.0
pydantic[email]>=2.3.0
fastapi-restful[all]>=0.4.5
msal
pyjwt
cryptography
requests
netaddr
shortuuid
aiohttp
jsonpatch
loguru
regex
azure-common
azure-identity
azure-core
azure-mgmt-core
azure-mgmt-compute
azure-mgmt-network
azure-mgmt-resource
azure-mgmt-resourcegraph
azure-mgmt-managementgroups
azure-mgmt-datafactory
azure-keyvault-secrets
azure-cosmos
azure-functions
nest_asyncio
